<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Aplicació empleats</title>
    <link rel="stylesheet" href="./styles.css">
    <style>
        /* Estilos CSS */
        .container {
            margin-top: 20px;
        }

        h1 {
            color: #007bff;
        }

        .btn {
            display: inline-block;
            padding: 10px 20px;
            background-color: #007bff;
            color: #fff;
            text-decoration: none;
            margin-right: 10px;
        }
    </style>
</head>
<body>
<div class="container mt-4">
    <h1>Aplicació empleats</h1>
    <a href="/addEmployee" class="btn btn-primary">Afegir Empleat</a>
    <a href="/employees" class="btn btn-primary">Llistar Empleats</a>
    <a href="/addDepartment" class="btn btn-primary">Afegir Departament</a>
    <a href="/departments" class="btn btn-primary">Llistar Departaments</a>
</div>
</body>
</html>
